@import "normalize";
@import "setting";


/* header */
.wr-intro {
    background-image: url("../media/header/bg-first-general.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center bottom;
    padding-top: 9vh;
    box-sizing: border-box;
}
.header .wrapper {   
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo {
    color: #fff;
    font-size: 36px;
    font-family: "SourceSansPro-Black", sans-serif;
    letter-spacing: -.2px;
}
.red-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    color: #fb414e;
}
.nav ul {
    display: flex;
    list-style-type: none;
}
.nav li {
    margin-left: 57px;
}
.nav a {
    color: #fff;
    font-family: "Roboto-Medium",sans-serif;
}
.nav a:hover {border-bottom: 3px solid red;
}
.wr-home {
    padding-top: 5.6vh;
}
.wr-home .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wr-home h2 {
    text-align: center;
    color: #fff;
    font-family: "SourceSansPro-Black",sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    margin-bottom: 7.4vh;
    max-width: 900px;
}
.wr-home p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 7.9px;
    max-width: 650px;
}
.wr-button {
    display: flex;
    align-items: center;
}
.btn-red {
    border-color: #fb414e;
}
.btn:hover {
    background-color: #fb414e;
}

/*2 subsection*/
.wr-subsection .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -85px;
}
.options {
    max-width: 420px;
    background-color:#202b30;
    padding: 75px 55px 50px 50px;
    box-sizing: border-box;
    
}
.options:hover {
    background-color: #fb414e;
}

.options img {
    margin-bottom: 35px;
}
.options h3 {
    color: #fff;
    font-family: "Roboto-Medium",sans-serif;
    font-size: 20px;
    position: relative;

}
.options h3::after { 
    content: '';
    width: 50px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
}
.options p {
    color: #fff;
    max-width: 300px;
    margin-top: 50px;
}
/*3* wr-services/*/
.section-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red {
    color: #fb414e;
}
.services-title {
    font-family: "SourceSansPro-Bold", sans-serif;
    color: #fb414e;
}
.section-title-block h1 {
    color: #000;
    font-family: "SourceSansPro-Bold",sans-serif;
    font-size: 60px;
}
.section-title-block p {
    max-width: 680px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}
.services-text { 
    margin-bottom: 125px;
}
.services-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.service-blok {
    max-width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-blok img {
    height: 50px;
    object-fit: cover;
    object-position: center top;
}
.service-blok h4 {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    margin: 30px 0;
}
/*4 wr-resalts*/
.wr-resalts {
    background-color: #202b30; 
}
.wr-resalts .wrapper {   
    display: flex;
    padding: 115px 0 110px 0;
    box-sizing: border-box;
}
.wr-resalt-text {
    padding: 0;
}
.wr-resalt-text h5 {
    padding-top: 20px;
}
.wr-resalt-text p {
    color: #fff;
    margin: 50px 0;
}
.btn-white {
    border-color: #fff;
}
.btn-red {
    border-color:#c0301c;
}
.wr-resalt-img {
    display: flex; 
}

.resalt-img-left,.resalt-img-right {
    width: 255px;
    height: 370px;   
}
.resalt-img-left {
    margin-right: 40px;
}
.resalt-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
/*5* wr-quality*/
.wr-quality {
    background-color: #f8f8f8;
}
.wr-quality .wrapper {
    display: flex;
    padding: 140px 0 150px 0;
    box-sizing: border-box;
}
.quality-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.quality-text h5{
    color: #000;
}
.quality-property {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 55px;
}
.quality-property-specifically {
    width: 50%;
}
.quality-property-specifically .title {
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 20px;
    color: #000; ;
}
/* wr-latest-works*/
.wr-latest-works {
    padding-top: 135px;
    padding-bottom: 55px;
}
.wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    list-style-type: none;
}
.wrapper li {
    font-family: "SourceSansPro-Regular", serif;
    font-size: 16px;
    margin-left: 28px;
    margin-top: 27px;
}
.wrapper button {
    border: none;
    background: none;
}
.wrapper button:hover {
    color: #c0301c;
}
.latest-works-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-item {
    width: 24%;
    margin-bottom: 15px;
    position: relative;
}
.list-item::after {
    content: '';
    display: block;
    padding-top: 100%;

}
.list-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

/*wr-clients-video*/
.wr-clients-video {
    margin-bottom: 125px;  
}
.wr-clients-video .wrapper {
    display: flex;
}
.clients-video {
    width: 50%;
    position: relative;
}
.clients-video  video{
    width: 635px;
    
}
.button-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px solid red;
    z-index: 10;
    
}
.clients-video-texst {
    width: 50%;
}
.clients-video-texst h5 {
    color: #000;
}
.clients-video-texst p {
    margin: 50px 0;
}
.btn-black {
    color: #000;
    border-color: #000;
}

/*wr-clients-logo*/
.wr-clients-logo {
    background-color: #202b30;
    padding: 140px 0;
    box-sizing: border-box;
}
.wr-clients-logo .wrapper {
    display: flex;
}
.clients-logo-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.clients-logo-text h5{ /*как обьеденить свойства*/
    color: #fff;
    text-align: right;
}
.clients-logo-text p{
    color: #fff;
    text-align: right;
}

.wr-logo-img {
  
    
}
.logo-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 55px;
}
.logo-img img {
    object-fit: cover;
    object-position: center;    
}

/*wr-designs*/
.wr-designs {
    background-image: url("../media/designs/bg-designs.jpg");
    background-size: cover;
    background-position: center bottom;
}
.wr-designs-text {
    padding: 130px 0;
    width: 50%;
}
.wr-designs-text h5,p { /*почему отменяем выравнивание*/
 color: #000;
 text-align: left;
}
.designs-text-properties {
display: flex;
}
.title-properties {
    font-family:"SourceSansPro-Regular", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
}
.designs-properties-left {
    margin-right: 60px;
}
/*wr-feedback-form*/
.wr-feedback {
    padding: 140px 0;
    box-sizing: border-box;
}
.wr-feedback-form {
    display: flex;
}
.wr-feedback-form-text {
    width: 50%;
    padding-right: 100px;
}
.wr-feedback-form-text h5 {
    color: #000;
    text-align: right;
}
.wr-feedback-form-text p {
    text-align: right;
}
.wr-feedback-form-text h5{
    /* что-то не то с отступом  и размером*/   
}
.wr-feedback-form-form {
    width: 50%;
}

.form-name,.form-service {
    width: 100%;
    margin: 10px 0;
}
.wr-form-name-email {
    display: flex;
    justify-content: space-between;
}
.form-name-email {

}
.form-text {
    width: 100%;
    
}
.btn-form {
    background-color: #fb414e;
    color: #fff;
    width: 100%;
    height: 50px;
}
/*wr-footer*/
.wr-footer {
    background-color: #202b30;
    margin: 100px 0 60px 0;
}
